Django==1.10.5
psycopg2==2.6.2
python3-memcached==1.51
represent-boundaries==0.9.1
-e git+https://github.com/opennorth/represent-reps.git#egg=represent-representatives
-e git+https://github.com/opennorth/represent-postcodes.git#egg=represent-postcodes

# Server
eventlet==0.20.1
gunicorn==19.6.0
