django-extensions==1.4.3
Django==1.7
psycopg2==2.5.4
# python3-memcached==1.51 # used in production settings.py
python-memcached==1.53 # used in production settings.py
represent-boundaries==0.6.1
Unidecode==0.04.16 # used by definition.py files
-e git+http://github.com/rhymeswithcycle/represent-reps.git#egg=represent-reps
-e git+http://github.com/rhymeswithcycle/represent-postcodes.git#egg=represent-postcodes
