DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': '',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

EXAMPLE_SCOPE = 'The Universe'
EXAMPLE_BOUNDARY_SET = 'Example Boundary Set'
EXAMPLE_BOUNDARY_SETS = 'Example Boundary Sets' # plural
EXAMPLE_BOUNDARY_SET_CODE = 'example-boundary-set'
EXAMPLE_BOUNDARY_SET_CODE_BIS = 'example-boundary-set-b' # "bis" is latin for "again"
EXAMPLE_BOUNDARY_SET_RESPONSE = '' # an example JSON response
EXAMPLE_BOUNDARY = 'Example Boundary'
EXAMPLE_BOUNDARY_CODE = 'example-boundary'
EXAMPLE_BOUNDARY_RESPONSE = '' # an example JSON response
EXAMPLE_PLACE = 'Example Place'
EXAMPLE_PLACE_LAT_LNG = '32.349549,-95.301829'
EXAMPLE_UNIT = 'kilometre'
EXAMPLE_UNIT_CODE = 'km'

COMPRESS_ENABLED = False 

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
    }
}
