from represent.default_settings import *

DEBUG = False
TEMPLATE_DEBUG = DEBUG

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'represent',       # Or path to database file if using sqlite3.
        'USER': 'postgres',        # Not used with sqlite3.
        'PASSWORD': '',            # Not used with sqlite3.
        'HOST': 'localhost',       # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                # Set to empty string for default. Not used with sqlite3.
    }
}

ADMINS = (
    ('Name', 'email@example.com'),
)

# CACHES = {
#     'default': {
#         'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
#         'LOCATION': '127.0.0.1:11211',
#     }
# }

# REPRESENTATIVES_BOUNDARYSERVICE_URL = 'http://represent.opennorth.ca/'

# You can put acceptable values for the Host header here,
# to protect against certain potential attacks:
# https://docs.djangoproject.com/en/dev/ref/settings/#allowed-hosts
# ALLOWED_HOSTS = ['.opennorth.ca']

# Make this unique, and don't share it with anybody.
SECRET_KEY = '+t(q+ljogaj(+7m@kueu-g881gb8xp_oaz)$iabxjp8a1@2#u!'
