pre {
  font-family: monospace;
  font-size: 14px;
  width: 100%;
  overflow: auto;
  padding: 10px;
}
h1, h2, h3, h4, h5 {
  font-family: Georgia, "Times New Roman", serif; }

  body {
    background: #ffffff;
    margin: 0 auto;
    padding-top: 0; }
  body form#location-form input[type="text"] {
    width: 380px; }

@media only screen and (min-width: 1212px) {
  body {
    padding-top: 0; }
  body form#location-form input[type="text"] {
    width: 380px; } }

@media only screen and (max-width: 767px) and (min-width: 480px) {
  body {
    padding-top: 0; }
  body form#location-form input[type="text"] {
    width: 300px; } }

@media only screen and (max-width: 479px) {
  body {
    padding-top: 0; }
  body #page-title {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.5px; }
  body form#location-form input[type="text"] {
    width: 150px; } }

#wrap {
  margin: 0 auto; }
#page-title {
  border-bottom: 3px double #dfdfdf;
  padding-top: 48px;
  clear: both; }
.page-content h3 {
  margin-top: 20px; }
.page-content p {
  margin-top: 10px; }
.page-content code {
  background: #EEEEEE;
  padding: 3px; }
.page-content pre {
  background: #EEEEEE;
  padding: 3px; }
.page-content table {
  width: 100%; }
.page-content table tr:nth-child(even) {
  background: #eff1f3; }
#form-wrapper {
  width: 100%;
  float: left;
  padding: 10px 0;
  position: relative; }
#location-form input[type="text"] {
  margin: 5px 0 10px 0;
  padding: 4px;
  height: 20px;
  font-size: 1em;
  border: 1px solid #ccc; }
#addresses {
  background: #fff;
  position: absolute;
  top: 80px;
  left: -5px;
  z-index: 1;
  padding: 10px 10px 10px 5px;
  border: 1px solid #ccc;
  display: none;
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#444444');
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#444444')";
  /* Firefox */
  -moz-box-shadow: 2px 2px 10px #444;
  /* WebKit */
  -webkit-box-shadow: 2px 2px 10px #444;
  /* Standard */
  box-shadow: 2px 2px 10px #444; }
#georesults {
  background-color: #fff;
  width: 100%;
  padding: 10px 0; }
#map_canvas {
  width: 100%;
  height: 280px;
  margin: 0 auto; }
#boundaries .selected {
  background: #6AAFBD; }
#boundaries td {
  border: 0;
  width: 50%;
  padding: 10px 0;
  margin: 0; }

/* Utility */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }
