h1, h2, h3, h4, h5 {
  font-family: Georgia, "Times New Roman", serif; }

  body {
    background: #ffffff;
    padding-top: 0; }
  body #outside {
    width: 648px; }
  body form#location-form input[type="text"] {
    width: 380px; }

@media only screen and (min-width: 1212px) {
  body {
    padding-top: 0; }
  body #outside {
    width: 1068px; }
  body form#location-form input[type="text"] {
    width: 380px; } }

@media only screen and (max-width: 767px) and (min-width: 480px) {
  body {
    padding-top: 0; }
  body #outside {
    width: 396px; }
  body form#location-form input[type="text"] {
    width: 300px; } }

@media only screen and (max-width: 479px) {
  body {
    padding-top: 0; }
  body #outside {
    width: 228px; }
  body #page-title {
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.5px; }
  body form#location-form input[type="text"] {
    width: 150px; } }

#outside {
  line-height: 140%;
  padding: 10px 0;
  margin: 0 0 10px 0;
  background: #f1f1f1;
  text-align: center;
  display: none; }

#wrap {
  margin: 0 auto; }
  #wrap #page-links {
    float: right; }
  #wrap #page-title {
    border-bottom: 3px double #dfdfdf;
    padding-top: 48px;
    clear: both; }
  #wrap .page-content {
    display: none; }
    #wrap .page-content h3 {
      margin-top: 20px; }
    #wrap .page-content p {
      margin-top: 10px; }
    #wrap .page-content code {
      background: #EEEEEE;
      padding: 3px; }
    #wrap .page-content pre {
      background: #EEEEEE;
      padding: 3px; }
    #wrap .page-content table {
      width: 100%; }
    #wrap .page-content table tr:nth-child(even) {
      background: #eff1f3; }
    #wrap .page-content #form-wrapper {
      width: 100%;
      float: left;
      padding: 10px 0;
      position: relative; }
      #wrap .page-content #form-wrapper form#location-form {
        display: none; }
        #wrap .page-content #form-wrapper form#location-form input[type="text"] {
          margin: 5px 0 10px 0;
          padding: 4px;
          height: 20px;
          font-size: 1em;
          border: 1px solid #ccc; }
      #wrap .page-content #form-wrapper #use-current-location, #wrap .page-content #form-wrapper #did-you-mean, #wrap .page-content #form-wrapper #not-where-i-am {
        margin: 0 10px 0 0;
        padding: 5px;
        margin-left: -5px; }
      #wrap .page-content #form-wrapper #use-current-location {
        display: none; }
      #wrap .page-content #form-wrapper #did-you-mean.highlight {
        background: #343434;
        color: #fff;
        padding: 5px; }
      #wrap .page-content #form-wrapper #alt-addresses {
        background: #fff;
        position: absolute;
        top: 80px;
        left: -5px;
        z-index: 1;
        padding: 10px 10px 10px 5px;
        border: 1px solid #ccc;
        display: none;
        /* For IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#444444');
        /* For IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#444444')";
        /* Firefox */
        -moz-box-shadow: 2px 2px 10px #444;
        /* WebKit */
        -webkit-box-shadow: 2px 2px 10px #444;
        /* Standard */
        box-shadow: 2px 2px 10px #444; }
      #wrap .page-content #form-wrapper .disabled-link {
        text-decoration: none;
        color: #ccc;
        cursor: default; }
    #wrap .page-content #georesults {
      background-color: #fff;
      width: 100%;
      padding: 10px 0; }
      #wrap .page-content #georesults #resultinfo {
        width: 100%;
        margin: 10px auto 0 auto; }
      #wrap .page-content #georesults #map_canvas {
        width: 100%;
        height: 280px;
        margin: 0 auto; }
    #wrap .page-content #boundaries .selected {
      background: #6AAFBD; }
    #wrap .page-content #boundaries td {
      border: 0;
      width: 50%;
      padding: 10px 0;
      margin: 0; }

/* Utility */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }
