::selection     {background: rgb(255,255,158);}
::-moz-selection  {background: rgb(255,255,158);}
img::selection    {background: transparent;}
img::-moz-selection {background: transparent;}

body {
  padding-top: 40px; // accomodates topbar
  font-size: 16px;
  line-height: 1.5em;
  -webkit-tap-highlight-color: rgb(255,255,158);
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}
p {
  font-size: 16px;
  line-height: 1.5em;
}

h2, h3 {
  margin: .5em 0;
}

header {
  padding-top: 1em;
}
header img {
  float: left;
  padding-right: 20px;
  width: 90px;
}
.hero-unit {
  padding: 30px 60px;
  margin-bottom: 1em;
}
.hero-unit p {
  font-size: 1.25em;
  line-height: 1.5em;
}

#summary {
  text-align: center;
  margin-bottom: 1em;
}

.well {
  text-align: center;
}
input {
  position: relative;
  top: -1px;
  width: 360px;
  height: 26px;
}

#map {
  width: 100%;
  height: 345px;
}
#addresses {
  width: 100%;
  display: none;
}

#boundaries {
  width: 100%;
}
#boundaries tr:nth-child(even) {
  background: #eee;
}
#boundaries tr.selected {
  background: #ccc;
}
#boundaries td {
  width: 48%;
  padding: 10px 1%;
  border: none;
}

li {
  color: #404040;
  line-height: 1.5em;
}

pre {
  font-family: monospace;
  font-size: 14px;
  width: 100%;
  overflow: auto;
  padding: 10px;
  white-space: pre;
  word-wrap: normal;
}

#boundary-sets li {
  float: left;
  height: 20px;
}

#coverage ul.span8 {
  float: left;
}
#coverage div.rightcol {
  margin-left: 0;
}
#coverage p {
  clear: both;
}

#coverage ul {
  width: 100%;
}

#coverage li a {
  color: #404040;
}
#coverage li a:hover {
  color: #0069D6;
}
#coverage .label a {
  color: white;
}

#api h1, #home h2 {
  margin-top: 0;
  padding-top: 40px;
}

pre div.url {
  margin-bottom: 5px;
  padding-bottom: 7px;
  border-bottom: 1px dotted #CCCCCC;
}

pre .key {
  color: #660E7A;
}
pre .structure {
  color: #B58110;
}
pre .value {
  color: #038C35;
}

.clear {
  clear: both;
}

footer.footer {
  background-color: #EEEEEE;
  padding-bottom: 20px;
}
footer.footer p {
  font-size: 90%;
  color: #777777;
}
footer.footer a {
  color: #555555;
  text-decoration: underline;
}
footer.footer a:hover {
  color: #0069D6;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 13px;
  }
  p {
    font-size: 13px;
  }
  .topbar .container {
      width: 95%;
  }
  .container {
    width: 700px; /* 12 columns */
  }
  .hero-unit {
    padding: 1.846em 3.692em;
  }
  .hero-unit h1 {
    font-size: 3.692em;
  }
  .hero-unit p {
    font-size: 1.23em;
    line-height: 1.5em;
  }
  .span8 {
    width: 340px;
  }
  #map {
    height: 255px;
  }
  .leaflet-control-attribution {
    display: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 13px;
    padding-top: 0;
  }
  p {
    font-size: 13px;
  }
  .container {
    width: 460px; /* 8 columns */
  }
  .topbar {
    display: none;
  }
  header img {
    width: 60px;
    padding-top: 10px;
  }
  .hero-unit {
    padding: 1.231em 2.462em;
  }
  .hero-unit h1 {
    font-size: 2.462em;
  }
  .hero-unit p {
    font-size: 1.23em;
    line-height: 1.5em;
  }
  input {
    width: 260px;
  }
  .span8 {
    float: none;
    display: block;
    width: 460px;
  }
  #map {
    height: 230px;
  }
  .leaflet-control-attribution {
    display: none;
  }
  #coverage div.rightcol {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
    padding-top: 0;
  }
  p {
    font-size: 12px;
  }
  .container {
    width: 280px; /* 5 columns */
  }
  .topbar {
    display: none;
  }
  header img {
    display: none;
  }
  .hero-unit {
    padding: 0.833em 1.667em;
  }
  .hero-unit h1 {
    font-size: 1.667em;
    line-height: 1.3em;
  }
  .hero-unit p {
    font-size: 1em;
    line-height: 1.3em;
  }
  input {
    width: 140px;
  }
  .span8 {
    float: none;
    display: block;
    width: 280px;
  }
  #map {
    height: 210px;
  }
  .leaflet-control-attribution {
    display: none;
  }
  #coverage div.rightcol {
    margin-left: 20px;
  }
}

/* Bootstrap IE6 -------------------------------------------------------------*/

/* blockquote small:before{content:'\2014 \00A0';} */
.lt-ie7 blockquote small:before{content:"";}
/* [class*="span"]{display:inline;float:left;margin-left:20px;} */
.lt-ie7 .span1{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span2{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span3{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span4{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span5{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span6{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span7{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span8{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span9{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span10{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span11{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span12{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span13{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span14{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span15{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span16{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span17{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span18{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span19{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span20{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span21{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span22{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span23{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span24{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span-one-third{display:inline;float:left;margin-left:20px;}
.lt-ie7 .span-two-thirds{display:inline;float:left;margin-left:20px;}
