{% extends "base.html" %}

{% block topbar_nav %}
    {% url apidoc as apidoc_url %}
    {% include "api-nav.include.html" %}
{% endblock %}

{% block title %}{{ title.capitalize }} | Represent API{% endblock %}

{% block content %}
    <div class="container" id="apibrowser">
        <h1 style="margin-top: 20px">Represent API: <a href="/api/#{{ resource_name|lower }}">{{ title.capitalize }}</a></h1>
        <pre>{{ json }}</pre>
    </div>
{% endblock %}

{% block footer %}
        <p>The raw JSON of this resource is at <a href="{{ json_url }}">{{ json_url }}</a>.</p>
    {{ block.super }}
{% endblock %}
{% block js %}
{{ block.super }}
<script type="text/javascript">
    $(function() {
        $("#apibrowser pre").html(
            formatJSON($("#apibrowser pre").text())
        ).prepend('<div class="url"><code>{{ json_url|escapejs }}</code></div>');
    });
</script>
{% endblock %}