{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ title.capitalize }} | Represent API{% endblock %}

{% block content %}
<div class="container-fluid" id="apibrowser">
  <p>This is the JSON response for the <code>{{ json_url }}</code> API call. Get the <a href="{{ json_url }}">raw JSON</a> or read the <a href="{% url "apidoc" %}">API reference</a>.</p>

  <pre>{{ json }}</pre>
</div>
{% endblock %}

{% block js %}
<script src="{% static "js/api.js" %}"></script>
{% endblock %}
