<h3>About</h3>

<p>The Chicago Boundary Service is a project created of the <a href="http://blog.apps.chicagotribune.com/">News Applications team</a> at the <a href="http://www.chicagotribune.com">Chicago Tribune</a>. The primary developers are <a href="http://twitter.com/onyxfish">Christopher Groskopf</a> and <a href="http://twitter.com/ryannagle">Ryan Nagle</a>.</p>

<p>We present the service to the community in the hope it will foster development of informative, investigative and civically minded applications amongst Illinois developers.</p>

<h3>Open Source</h3>

<p>This boundary service would not be possible without incredible open-source tools including <a href="http://www.python.org/">Python</a>, <a href="http://www.djangoproject.com/">Django</a>, <a href="https://github.com/toastdriven/django-tastypie">Tastypie</a>, <a href="http://www.postgresql.org/">Postgres</a> and <a href="http://www.varnish-cache.org/">Varnish</a>.</p>

<p>Special thanks to <a href="http://twitter.com/jbronn">Justin Bronn</a>, contributor of the <a href="http://geodjango.org/">Geodjango</a> extensions to Django and to <a href="http://twitter.com/daniellindsley">Daniel Lindsley</a>, lead developer of <a href="https://github.com/toastdriven/django-tastypie">django-tastypie</a>.</p>

<h3>Open Data</h3>

<p>The data for this project was acquired from a variety of city, county, state and federal agencies. Documentation of exactly how and where the data was retrieved is available by accessing any Boundary Set via the API. Examples can be found on the <a href="javascript:switch_page('api')">API page</a>.</p>

<p>If you know of additional data that should be included in this site, <a href="mailto:newsapps@tribune.com">email us</a>.

<h3>Contact</h3>

<p>Comments / Questions? Email us at <a href="mailto:newsapps@tribune.com">newsapps@tribune.com</a></p>
