<h3>About</h3>

<p>The Boundary Service software is a product of the <a href="http://blog.apps.chicagotribune.com/">News Applications team</a> at the <a href="http://www.chicagotribune.com">Chicago Tribune</a>.

<p>This API is provided as a free service for the community.</p>

<h3>Open Data</h3>

<p>The data for this project was acquired from a variety of agencies. Documentation of exactly how and where the data was retrieved is available by accessing any Boundary Set via the API. Examples can be found on the <a href="javascript:switch_page('api')">API page</a>.</p>
