<h3>About</h3>

<p>The Smith County Boundary Service instance is a <a href="http://hacktyler.com">Hack Tyler</a> project created by <a href="http://twitter.com/onyxfish">Christopher Groskopf</a>  The Boundary Service software is a product of the <a href="http://blog.apps.chicagotribune.com/">News Applications team</a> at the <a href="http://www.chicagotribune.com">Chicago Tribune</a>.

<p>This API is provided as a free service for the community.</p>

<h3>Open Data</h3>

<p>The data for this project was acquired from a variety of city, county, state and federal agencies. Documentation of exactly how and where the data was retrieved is available by accessing any Boundary Set via the API. Examples can be found on the <a href="javascript:switch_page('api')">API page</a>.</p>

<p>If you know of additional data that should be included in this site, please leave a comment on the Hack Tyler <a href="http://hacktyler.com/data">Data Sources</a> page.

<h3>Contact</h3>

<p>Comments / Questions? Chris is <a href="http://twitter.com/onyxfish">on Twitter</a>.</p>
