<div id="form-wrapper">
    <form id="location-form">
        <input type="text" id="address" name="address" value="{{ default_search_text }}" />
        <input type="submit">
    </form>
    <a href="javascript:void(0)" id="use-current-location">Use my current location instead</a>
    <a href="javascript:void(0)" id="not-where-i-am">Wait, that's not where I am</a>
    <a href="javascript:void(0)" id="did-you-mean" class="disabled-link">Did you mean...?</a>
    <div id="alt-addresses"></div>
</div>
<div id="georesults" class="clearfix">
    <div id="map_canvas"></div>
    <p id="resultinfo"> 
        Waiting for browser ...
    </p>
</div>

<div id="area-lookup"></div>
