{% extends 'base.html' %}
{% load static %}

{% block title %}API Reference | Represent Elected Officials and Electoral Districts API for Canada{% endblock %}
{% block bodyattributes %}id="api"{% endblock %}

{% block content %}
<div class="jumbotron bg-primary" id="header">
  <div class="container-fluid">
    <h1 class="solo">API Reference</h1>
  </div>
</div>

<section id="basics">
  <div class="container-fluid banner banner-default">
    <h2>Basics</h2>
  </div>

  <div class="container-fluid">
    <h3>Endpoints</h3>

    <p>The base URL of all endpoints is <code>https://represent.opennorth.ca</code>. All endpoints output JSON.</p>

    <ul>
      <li><a href="#postcode">Postal codes</a></li>
      <li><a href="#boundaryset">Boundary sets</a></li>
      <li><a href="#boundary">Boundaries</a></li>
      <li><a href="#representativeset">Representative sets</a></li>
      <li><a href="#representative">Representatives</a></li>
      <li><a href="#election">Elections</a></li>
      <li><a href="#candidate">Candidates</a></li>
    </ul>

    <h3>Paginate</h3>
    <p>Results are paginated 20 per page by default. Set the number of results per page by adding a <code>limit</code> query parameter. Change pages using the <code>offset</code> query parameter or using the <code>next</code> and <code>previous</code> links under the <code>meta</code> field in the response to navigate to the next and previous pages (if any). Under the <code>meta</code> field, <code>total_count</code> is the number of results.</p>

    <h3>Filter results</h3>
    <p>Filter results with query parameters. Each endpoint below lists the fields on which you can filter results. To filter for representatives whose first name is “Rodney”, for example, request <code>/representatives/?first_name=Rodney</code>. To filter for MPs whose first name is "Rodney", request <code>/representatives/house-of-commons/?last_name=Rodney</code>.</p>

    <p>Perform substring searches by appending <code>__querytype</code> to the parameter name, where <code>querytype</code> is one of <code>iexact</code>, <code>contains</code>, <code>icontains</code>, <code>startswith</code>, <code>istartswith</code>, <code>endswith</code>, <code>iendswith</code> or <code>isnull</code>. A leading <code>i</code> makes the match case-insensitive. For example, to find representatives whose last name starts with “M” or “m”, request <code>/representatives/?last_name__istartswith=m</code>.</p>

    <h3>Download in bulk</h3>
    <p>To download all representatives, send a request to <a href="https://represent.opennorth.ca/representatives/?limit=1000">https://represent.opennorth.ca/representatives/?limit=1000</a> and follow the <code>next</code> link under the <code>meta</code> field until you reach the end. We host the shapefiles and postal code concordances on <a href="https://github.com/opennorth/represent-canada-data">GitHub</a>.</p>

    <h3>Rate limits</h3>
    <p>Represent is free up to 60 requests per minute (86,400 queries/day). If you need to make more queries, <a href="mailto:represent@opennorth.ca">contact us</a>; otherwise, you may get HTTP 503 errors.</p>

    <h3>Debugging</h3>
    <p>For a browsable, HTML version of the JSON response, add a <code>format=apibrowser</code> query parameter. Add <code>pretty=1</code> to just indent the raw JSON.</p>

    <h3>JSONP</h3>
    <p>We support JSONP for client-side cross-domain requests – just add a <code>callback</code> query parameter.</p>

    <h3>Libraries</h3>
    <ul>
      <li><a href="https://drupal.org/project/represent">Drupal</a></li>
      <li><a href="https://wordpress.org/plugins/represent-api/">WordPress</a></li>
      <li><a href="https://github.com/opennorth/govkit-ca#readme">Ruby</a></li>
      <li><a href="https://github.com/cpb/opennorth-represent#readme">Ruby</a> by Caleb Buxton</li>
      <li><a href="https://github.com/ncadou/pyrepresent#readme">Python</a> by Nicolas Cadou</li>
      <li><a href="https://github.com/sprice/represent#readme">Node.js</a> by Shawn Price</li>
      <li><a href="https://drupal.org/project/civinorth">CiviCRM</a> by Alan Dixon</li>
    </ul>

    <p><a href="{% url "privacy" %}">Privacy policy</a></p>
  </div>
</section>

<section id="postcode">
  <div class="container-fluid banner banner-default">
    <h2>Postal codes</h2>
  </div>

  <div class="container-fluid">
    <p>Find representatives and boundaries by postal code.</p>

    <p>To see what boundary sets and representative sets are available, consult the <a href="#boundaryset">boundary sets</a> and <a href="#representativeset">representative sets</a> endpoints. Are we missing information that you need? <a href="mailto:represent@opennorth.ca">Contact us</a> so that we can make it a priority.</p>

    <div class="alert alert-danger">
      <p><strong>Using postal codes is error prone</strong>, because a postal code can match multiple boundaries and because postal codes change constantly. For 100% accuracy, geocode <strong>addresses</strong> using the <a href="https://msdn.microsoft.com/en-us/library/ff701713.aspx">Bing</a>, <a href="https://developers.google.com/maps/documentation/geocoding/">Google</a>, <a href="http://developer.mapquest.com/web/tools/getting-started/platform/geocoding">MapQuest</a> or <a href="https://developer.yahoo.com/boss/geo/">Yahoo</a> geocoding APIs, and then submit a latitude and longitude to the <a href="#boundary-geospatial">boundaries</a> or <a href="#representative">representatives</a> endpoints. Latitudes and longitudes never change and always match a single boundary.</p>
      <p>It's important to be aware of the limitations of postal codes, which are primarily a way for Canada Post to sort mail, not a way to match an electoral district. We've heard from chief electoral officers across Canada that postal codes are not 100% accurate for matching an electoral district, and our own research – using the highest quality postal code data – confirms this.</p>
    </div>

    <h3>Request</h3>

    <p>URLs must include the postal code in uppercase letters with no spaces.</p>

    <h3>Response</h3>

    <p>The <code>boundaries_centroid</code> field lists boundaries that contain the postal code&rsquo;s center point (centroid). A centroid is a point, but a postal code can be a line or polygon, so the list of boundaries in <code>boundaries_centroid</code> <strong>will sometimes be inaccurate</strong>.</p>

    <p>The <code>boundaries_concordance</code> field lists boundaries linked to the postal code according to official government data. Postal codes can cross boundaries, therefore <code>boundaries_concordance</code> may list many Ontario provincial districts for a postal code like K0A 1K0.</p>

    <p>The <code>representatives_centroid</code> and <code>representatives_concordance</code> fields behave similarly.</p>

    <p class="alert alert-danger">If you are searching for a specific boundary or representative, you must check both the centroid and concordance fields.</p>

    <p>In most cases, the <code>city</code>, <code>province</code> and <code>centroid</code> fields will be non-empty.</p>

    <dl>
      <dt>Find representatives and boundaries by postal code</dt>
      <dd>
        <a class="example" href="/postcodes/L5G4L3/?format=apibrowser">/postcodes/L5G4L3/</a> <span>Click to view JSON</span>
      </dd>
      <dt>Find representatives and boundaries by postal code, limiting results to a specific boundary set</dt>
      <dd>
        <a class="example" href="/postcodes/L5G4L3/?sets=federal-electoral-districts&amp;format=apibrowser">/postcodes/L5G4L3/?sets=federal-electoral-districts</a>
        <p>To see what boundary sets are available, consult the <a href="#boundaryset">boundary sets</a> endpoint.</p>
      </dd>
    </dl>
  </div>
</section>

<section id="boundaryset">
  <div class="container-fluid banner banner-default">
    <h2>Boundary sets</h2>
  </div>

  <div class="container-fluid">
    <p>A boundary set is a group of electoral districts, like BC provincial districts or Toronto wards.</p>

    <p>Do we not have a set of boundaries that you need? <a href="mailto:represent@opennorth.ca">Contact us</a> so that we can make it a priority.</p>

    <dl>
      <dt>Get one page of boundary sets</dt>
      <dd>
        <a class="example" href="/boundary-sets/?format=apibrowser">/boundary-sets/</a> <span>Click to view JSON</span>
      </dd>
      <dt>Get one boundary set</dt>
      <dd>
        <a class="example" href="/boundary-sets/federal-electoral-districts/?format=apibrowser">/boundary-sets/federal-electoral-districts/</a>
      </dd>
      <dt>Filter boundary sets by <code>name</code> or <code>domain</code></dt>
      <dd>
        <a class="example" href="/boundary-sets/?domain=Canada&amp;format=apibrowser">/boundary-sets/?domain=Canada</a>
      </dd>
    </dl>
  </div>
</section>

<section id="boundary">
  <div class="container-fluid banner banner-default">
    <h2>Boundaries</h2>
  </div>

  <div class="container-fluid">
    <p>The response's <code>external_id</code> field (not always present) is the boundary's machine identifier. The <code>metadata</code> field contains all attributes from the source shapefile; it is unmodified and may be out-of-date or erroneous.</p>

    <dl>
      <dt>Get one page of boundaries</dt>
      <dd>
        <a class="example" href="/boundaries/?format=apibrowser">/boundaries/</a> <span>Click to view JSON</span>
      </dd>
      <dt>Get one page of boundaries from a boundary set</dt>
      <dd>
        <a class="example" href="/boundaries/toronto-wards-2018/?format=apibrowser">/boundaries/toronto-wards-2018/</a>
        <p>To see what boundary sets are available, consult the <a href="#boundaryset">boundary sets</a> endpoint.</p>
      </dd>
      <dt>Get one page of boundaries from multiple boundary sets (comma-separated)</dt>
      <dd>
        <a class="example" href="/boundaries/?sets=toronto-wards-2018,ottawa-wards&amp;format=apibrowser">/boundaries/?sets=toronto-wards-2018,ottawa-wards</a>
        <p>To see what boundary sets are available, consult the <a href="#boundaryset">boundary sets</a> endpoint.</p>
      </dd>
      <dt>Get one boundary</dt>
      <dd>
        <a class="example" href="/boundaries/nova-scotia-electoral-districts-2019/halifax-atlantic/?format=apibrowser">/boundaries/nova-scotia-electoral-districts-2019/halifax-atlantic/</a>
      </dd>
      <dt>Filter all boundaries by <code>name</code> or <code>external_id</code></dt>
      <dd>
        <a class="example" href="/boundaries/?name=Niagara%20Falls&amp;format=apibrowser">/boundaries/?name=Niagara Falls</a>
      </dd>
      <dt>Filter a boundary set's boundaries by <code>name</code> or <code>external_id</code></dt>
      <dd>
        <a class="example" href="/boundaries/census-subdivisions/?name=Niagara%20Falls&amp;format=apibrowser">/boundaries/census-subdivisions/?name=Niagara Falls</a>
        <p>To see what boundary sets are available, consult the <a href="#boundaryset">boundary sets</a> endpoint.</p>
      </dd>
    </dl>

    <h3 id="boundary-geospatial">Geospatial queries</h3>

    <dl>
      <dt>Find all boundaries by latitude and longitude</dt>
      <dd>
        <a class="example" href="/boundaries/?contains=45.524,-73.596&amp;format=apibrowser">/boundaries/?contains=45.524,-73.596</a>
      </dd>
      <dt>Find a boundary set's boundaries by latitude and longitude</dt>
      <dd>
        <a class="example" href="/boundaries/montreal-boroughs/?contains=45.524,-73.596&amp;format=apibrowser">/boundaries/montreal-boroughs/?contains=45.524,-73.596</a>
        <p>To see what boundary sets are available, consult the <a href="#boundaryset">boundary sets</a> endpoint.</p>
      </dd>
      <dt>Find boundaries that touch</dt>
      <dd>
        <a class="example" href="/boundaries/?touches=alberta-electoral-districts-2017/highwood&amp;format=apibrowser">/boundaries/?touches=alberta-electoral-districts-2017/highwood</a>
      </dd>
      <dt>Find boundaries that intersect (&ldquo;covers or overlaps&rdquo; in PostGIS lingo)</dt>
      <dd>
        <a class="example" href="/boundaries/?intersects=alberta-electoral-districts-2017/highwood&amp;format=apibrowser">/boundaries/?intersects=alberta-electoral-districts-2017/highwood</a>
      </dd>
    </dl>

    <h3 id="boundary-drawing">Drawing boundaries</h3>

    <p>We recommend the <code>simple_shape</code> endpoint, which simplifies the shape to a tolerance of 0.002, looks fine and loads fast. The default geospatial output format is GeoJSON. Add a <code>format=kml</code> or <code>format=wkt</code> query parameter to get KML or Well-Known Text.</p>

    <dl>
      <dt>Get all simple shapes from a boundary set</dt>
      <dd>
        <a class="example" href="/boundaries/toronto-wards-2018/simple_shape?format=apibrowser">/boundaries/toronto-wards-2018/simple_shape</a>
      </dd>
      <dt>Get all original shapes from a boundary set</dt>
      <dd>
        <a class="example" href="/boundaries/toronto-wards-2018/shape?format=apibrowser">/boundaries/toronto-wards-2018/shape</a>
      </dd>
      <dt>Get all centroids from a boundary set</dt>
      <dd>
        <a class="example" href="/boundaries/toronto-wards-2018/centroid?format=apibrowser">/boundaries/toronto-wards-2018/centroid</a>
      </dd>
      <dt>Get one boundary's simple shape</dt>
      <dd>
        <a class="example" href="/boundaries/nova-scotia-electoral-districts-2019/halifax-atlantic/simple_shape?format=apibrowser">/boundaries/nova-scotia-electoral-districts-2019/halifax-atlantic/simple_shape</a>
      </dd>
      <dt>Get one boundary's original shape</dt>
      <dd>
        <a class="example" href="/boundaries/nova-scotia-electoral-districts-2019/halifax-atlantic/shape?format=apibrowser">/boundaries/nova-scotia-electoral-districts-2019/halifax-atlantic/shape</a>
      </dd>
      <dt>Get one boundary's centroid</dt>
      <dd>
        <a class="example" href="/boundaries/nova-scotia-electoral-districts-2019/halifax-atlantic/centroid?format=apibrowser">/boundaries/nova-scotia-electoral-districts-2019/halifax-atlantic/centroid</a>
      </dd>
    </dl>
  </div>
</section>

<section id="representativeset">
  <div class="container-fluid banner banner-default">
    <h2>Representative sets</h2>
  </div>

  <div class="container-fluid">
    <p>A representative set is a group of elected officials, like the House of Commons or Toronto City Council.</p>

    <p>Do we not have a set of representatives that you need? <a href="mailto:represent@opennorth.ca">Contact us</a> so that we can make it a priority.</p>

    <dl>
      <dt>Get one page of representative sets</dt>
      <dd>
        <a class="example" href="/representative-sets/?format=apibrowser">/representative-sets/</a> <span>Click to view JSON</span>
      </dd>
      <dt>Get one representative set</dt>
      <dd>
        <a class="example" href="/representative-sets/ontario-legislature/?format=apibrowser">/representative-sets/ontario-legislature/</a>
      </dd>
    </dl>
  </div>
</section>

<section id="representative">
  <div class="container-fluid banner banner-default">
    <h2>Representatives</h2>
  </div>

  <div class="container-fluid">
    <dl>
      <dt>Get one page of representatives</dt>
      <dd>
        <a class="example" href="/representatives/?format=apibrowser">/representatives/</a> <span>Click to view JSON</span>
      </dd>
      <dt>Get one page of representatives from a representative set</dt>
      <dd>
        <a class="example" href="/representatives/house-of-commons/?format=apibrowser">/representatives/house-of-commons/</a>
        <p>To see what representative sets are available, consult the <a href="#representativeset">representative sets</a> endpoint.</p>
      </dd>
      <dt>Find all representatives by latitude and longitude</dt>
      <dd>
        <a class="example" href="/representatives/?point=45.524,-73.596&amp;format=apibrowser">/representatives/?point=45.524,-73.596</a>
      </dd>
      <dt>Find a representative set's representatives by latitude and longitude</dt>
      <dd>
        <a class="example" href="/representatives/house-of-commons/?point=45.524,-73.596&amp;format=apibrowser">/representatives/house-of-commons/?point=45.524,-73.596</a>
        <p>To see what representative sets are available, consult the <a href="#representativeset">representative sets</a> endpoint.</p>
      </dd>
      <dt>Get the representatives for one boundary</dt>
      <dd>
        <a class="example" href="/boundaries/toronto-wards-2018/etobicoke-north-1/representatives/?format=apibrowser">/boundaries/toronto-wards-2018/etobicoke-north-1/representatives/</a>
      </dd>
      <dt>Get the representatives for multiple boundaries (comma-separated)</dt>
      <dd>
        <a class="example" href="/representatives/?districts=calgary-wards/ward-1,calgary-wards/ward-2,calgary-wards/ward-3&amp;format=apibrowser">/representatives/?districts=calgary-wards/ward-1,calgary-wards/ward-2,calgary-wards/ward-3</a>
      </dd>
      <dt>Filter all representatives by <code>name</code>, <code>first_name</code>, <code>last_name</code>, <code>gender</code>, <code>district_name</code>, <code>elected_office</code> or <code>party_name</code></dt>
      <dd>
        <a class="example" href="/representatives/?last_name=Trudeau&amp;format=apibrowser">/representatives/?last_name=Trudeau</a>
      </dd>
      <dt>Filter a representative set's representatives by <code>name</code>, <code>first_name</code>, <code>last_name</code>, <code>gender</code>, <code>district_name</code>, <code>elected_office</code> or <code>party_name</code></dt>
      <dd>
        <a class="example" href="/representatives/house-of-commons/?last_name=Trudeau&amp;format=apibrowser">/representatives/house-of-commons/?last_name=Trudeau</a>
        <p>To see what representative sets are available, consult the <a href="#representativeset">representative sets</a> endpoint.</p>
      </dd>
    </dl>

    <p id="fields">Only the <strong>bold</strong> fields are present in all responses:</p>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Field</th>
        <th>Example</th>
        <th>Notes</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><strong>name</strong></td>
        <td>Stephen Harper</td>
        <td></td>
      </tr>
      <tr>
        <td><strong>district_name</strong></td>
        <td>Calgary Southwest</td>
        <td></td>
      </tr>
      <tr>
        <td><strong>elected_office</strong></td>
        <td>MP, MLA, Mayor, Councillor, Alderman</td>
        <td></td>
      </tr>
      <tr>
        <td><strong>source_url</strong></td>
        <td>The URL at which the data is scraped</td>
        <td>May be the same as <code>url</code> below</td>
      </tr>
      <tr>
        <td>first_name</td>
        <td>Stephen</td>
        <td></td>
      </tr>
      <tr>
        <td>last_name</td>
        <td>Harper</td>
        <td></td>
      </tr>
      <tr>
        <td>party_name</td>
        <td>Conservative</td>
        <td></td>
      </tr>
      <tr>
        <td>email</td>
        <td>example@example.com</td>
        <td></td>
      </tr>
      <tr>
        <td>url</td>
        <td>https://legislature.ca/stephen-harper</td>
        <td>The representative’s page on the official legislature site</td>
      </tr>
      <tr>
        <td>photo_url</td>
        <td>https://legislature.ca/stephen-harper.jpg</td>
        <td></td>
      </tr>
      <tr>
        <td>personal_url</td>
        <td>https://stephenharper.blogspot.com/</td>
        <td>A site run by the representative that’s not on the official legislature site</td>
      </tr>
      <tr>
        <td>district_id</td>
        <td>24013</td>
        <td>If there’s an identifier besides the district name</td>
      </tr>
      <tr>
        <td>gender</td>
        <td>M, F</td>
        <td></td>
      </tr>
      <tr>
        <td>offices</td>
        <td><code>[ {&quot;postal&quot;: &quot;10 North Pole, H0H 0H0&quot;, &quot;tel&quot;: &quot;555-555-5555&quot;,
          &quot;type&quot;: &quot;constituency&quot;}, {&quot;tel&quot;: &quot;444-444-4444&quot;, &quot;type&quot;: &quot;legislature&quot;}
          ]</code></td>
        <td>A list of objects with contact information for the representative’s offices. The keys are: <code>postal</code> (mailing address), <code>tel</code>
          (telephone), <code>fax</code> (facsimile), <code>type</code> (what kind of office this is, e.g. constituency or
          legislature).</td>
      </tr>
      <tr>
        <td>extra</td>
        <td><code>{ &quot;hair_colour&quot;: &quot;brown&quot; }</code></td>
        <td>Any extra data</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>

<section id="election">
  <div class="container-fluid banner banner-default">
    <h2>Elections</h2>
  </div>

  <div class="container-fluid">
    <p>This endpoint behaves like the <a href="#representativeset">/representative-sets/</a> endpoint. See its documentation for more examples.</p>

    <p>If you would like to add an election to Represent, <a href="mailto:represent@opennorth.ca">contact us</a>.</p>

    <dl>
      <dt>Get one page of elections</dt>
      <dd>
        <a class="example" href="/elections/?format=apibrowser">/elections/</a> <span>Click to view JSON</span>
      </dd>
    </dl>
  </div>
</section>

<section id="candidate">
  <div class="container-fluid banner banner-default">
    <h2>Electoral candidates</h2>
  </div>

  <div class="container-fluid">
    <p>This endpoint behaves like the <a href="#representative">/representatives/</a> endpoint. See its documentation for more examples.</p>

    <p>Candidate lists may be incomplete or incorrect, as this information changes frequently.</p>

    <p>If you would like to add candidates to Represent, <a href="mailto:represent@opennorth.ca">contact us</a>.</p>

    <dl>
      <dt>Get one page of candidates</dt>
      <dd>
        <a class="example" href="/candidates/?format=apibrowser">/candidates/</a> <span>Click to view JSON</span>
      </dd>
    </dl>
  </div>
</section>
{% endblock %}
