{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "For Government" %} | {% trans "Represent Elected Officials and Electoral Districts API for Canada" %}{% endblock %}
{% block bodyattributes %}id="government"{% endblock %}

{% block content %}
<div class="jumbotron bg-primary" id="header">
  <div class="container-fluid">
    <h1 class="solo">{% trans "Adding your elected officials to Represent is easy." %}</h1>
  </div>
</div>

{% static "img/template.csv" as spreadsheet_url %}
{% url "government" as government_url %}
<div class="container-fluid" id="instructions">
  <ol>
    <li>
      <p>{% blocktrans %}Download our <a href="{{ spreadsheet_url }}">spreadsheet template</a>, or create your own with the columns below. You may omit or leave columns blank. The most important are in <strong>bold</strong>.{% endblocktrans %}</p>

      <ul id="fields">
        <li><strong>{% trans "District name" %}</strong> {% trans "(if your municipality is divided into wards, districts or divisions)" %}</li>
        <li><strong>{% trans "District ID" %}</strong> {% trans "(if your wards have identifiers as well as names)" %}</li>
        <li><strong>{% trans "Primary role" %}</strong> {% trans "(<code>Mayor</code> or <code>Councillor</code> for most municipalities)" %}</li>
        <li><strong>{% trans "First name" %}</strong></li>
        <li><strong>{% trans "Last name" %}</strong></li>
        <li>{% trans "Gender" %} {% trans "(<code>M</code> or <code>F</code> for example)" %}</li>
        <li>{% trans "Party name" %}</li>
        <li><strong>{% trans "Email" %}</strong></li>
        <li><strong>{% trans "Photo URL" %}</strong> {% trans "(a link to a photo of the elected official)" %}</li>
        <li>{% trans "Source URL" %} {% trans "(a link to the elected official's profile on your municipal website)" %}</li>
        <li>{% trans "Website" %} {% trans "(a link to the elected official's own website)" %}</li>
        <li>{% trans "Address line 1" %}</li>
        <li>{% trans "Address line 2" %}</li>
        <li>{% trans "Locality" %}</li>
        <li>{% trans "Postal code" %}</li>
        <li>{% trans "Province" %}</li>
        <li>{% trans "Phone" %}</li>
        <li>{% trans "Fax" %}</li>
      </ul>
    </li>
    <li><p>{% trans "If you would like to specify multiple addresses or numbers, add a parenthesized label to the column header, e.g. <code>Phone (home)</code>." %}</p></li>
    <li><p>{% trans "Save the spreadsheet in the CSV file format. Microsoft Excel and other programs can do this." %}</p></li>
    <li><p>{% trans "Upload the CSV file to your municipal website. You may need to ask your webmaster." %}</p></li>
    <li><p>{% blocktrans %}<a href="mailto:represent@opennorth.ca">Email us</a> the link to the spreadsheet, and we'll quickly add the information to Represent.{% endblocktrans %}</p></li>
    <li><p>{% blocktrans %}If you have an open data catalog, you may specify that "This dataset conforms to the <a href="{{ government_url }}">Represent CSV Schema</a> for elected officials' contact information."{% endblocktrans %}</p></li>
  </ol>

  <p>{% trans "Now, all you have to do is update the spreadsheet when information changes. We'll automatically import those changes." %}</p>
  <p>{% trans 'If you have any questions, please do not hesitate to <a href="mailto:represent@opennorth.ca">contact us</a>.' %}</p>
</div>

<div class="container-fluid banner banner-default" id="back">
  <p>{% trans "Thanks to the following municipalities for providing information as CSV!" %}</p>
  <div>
    <img src="{% static "img/logos/ottawa.png" %}" width="119" height="50" alt="{% trans "City of Ottawa" %}" title="{% trans "City of Ottawa" %}" data-toggle="tooltip">
    <img src="{% static "img/logos/vancouver.png" %}" width="129" height="50" alt="{% trans "City of Vancouver" %}" title="{% trans "City of Vancouver" %}" data-toggle="tooltip">
    <img src="{% static "img/logos/guelph.png" %}" width="168" height="50" alt="{% trans "City of Guelph" %}" title="{% trans "City of Guelph" %}" data-toggle="tooltip">
    <img src="{% static "img/logos/oakville.png" %}" width="78" height="50" alt="{% trans "City of Oakville" %}" title="{% trans "City of Oakville" %}" data-toggle="tooltip">
  </div>
  <div>
    <a class="btn btn-lg" role="button" href="/">{% trans "Learn more about Represent" %}</a>
  </div>
</div>
{% endblock %}
