{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "For Government" %} | {% trans "Represent Elected Officials and Electoral Districts API for Canada" %}{% endblock %}
{% block bodyattributes %}id="government"{% endblock %}

{% block content %}
<div class="jumbotron bg-primary" id="header">
  <div class="container-fluid">
    <h1 class="solo">{% trans "Adding your elected officials to Represent is easy." %}</h1>
  </div>
</div>

{% static "img/template.csv" as spreadsheet_url %}
{% url "government" as government_url %}
<div class="container-fluid" id="instructions">
  <ol>
    <li>
      <p>{% blocktrans %}Download our <a href="{{ spreadsheet_url }}">spreadsheet template</a>, or create your own with the columns below. You may omit or leave columns blank. The most important are in <strong>bold</strong>.{% endblocktrans %}</p>

      <ul id="fields">
        <li><strong>{% trans "District name" %}</strong> {% trans "(if your municipality is divided into wards, districts or divisions – <code>Ward 2</code> for example)" %}</li>
        <li><strong>{% trans "District ID" %}</strong> {% trans "(if your wards have identifiers as well as names – <code>2</code> for example)" %}</li>
        <li><strong>{% trans "Primary role" %}</strong> {% trans "(<code>Mayor</code> or <code>Councillor</code> for most municipalities)" %}</li>
        <li><strong>{% trans "First name" %}</strong></li>
        <li><strong>{% trans "Last name" %}</strong></li>
        <li>{% trans "Gender" %} {% trans "(<code>M</code> or <code>F</code> for example)" %}</li>
        <li>{% trans "Party name" %}</li>
        <li><strong>{% trans "Email" %}</strong></li>
        <li><strong>{% trans "Photo URL" %}</strong> {% trans "(a link to a photo of the elected official)" %}</li>
        <li>{% trans "Source URL" %} {% trans "(a link to the elected official's profile on your municipal website)" %}</li>
        <li>{% trans "Website" %} {% trans "(a link to the elected official's own website)" %}</li>
        <li>{% trans "Address line 1" %}</li>
        <li>{% trans "Address line 2" %}</li>
        <li>{% trans "Locality" %}</li>
        <li>{% trans "Province" %} {% trans "(<code>AB</code>, <code>BC</code>, <code>MB</code>, <code>NB</code>, <code>NL</code>, <code>NS</code>, <code>NT</code>, <code>NU</code>, <code>ON</code>, <code>PE</code>, <code>QC</code>, <code>SK</code> or <code>YT</code>)" %}</li>
        <li>{% trans "Postal code" %} {% trans "(<code>A1A 1A1</code> for example)" %}</li>
        <li>{% trans "Phone" %} {% trans "(<code>1 555 555-5555 Ext. 5555</code> for example)" %}</li>
        <li>{% trans "Fax" %}</li>
        <li>{% trans "Cell" %}</li>
        <li>{% trans "Facebook" %} {% trans "(a link to the elected official's Facebook page)" %}</li>
        <li>{% trans "Twitter" %} {% trans "(a link to the elected official's Twitter page)" %}</li>
      </ul>
    </li>
    <li><p>{% trans "If you would like to specify multiple addresses or numbers, add a parenthesized label to the column header, e.g. <code>Phone (home)</code>." %}</p></li>
    <li><p>{% trans "Save the spreadsheet in the CSV file format. Microsoft Excel and other programs can do this." %}</p></li>
    <li><p>{% trans "Upload the CSV file to your municipal website. You may need to ask your webmaster." %}</p></li>
    <li><p>{% blocktrans %}<a href="mailto:represent@opennorth.ca">Email us</a> the link to the spreadsheet, and we'll quickly add the information to Represent.{% endblocktrans %}</p></li>
    <li><p>{% blocktrans %}If you have an open data catalog, you may specify that "This dataset conforms to the <a href="{{ government_url }}">Represent CSV Schema</a> for elected officials' contact information."{% endblocktrans %}</p></li>
  </ol>

  <p>{% trans "Now, all you have to do is update the spreadsheet when information changes. We'll automatically import those changes." %}</p>
  <p>{% trans 'If you have any questions, please do not hesitate to <a href="mailto:represent@opennorth.ca">contact us</a>.' %}</p>
</div>

<div class="container-fluid banner banner-default" id="back">
  <p>{% trans "Thanks to the following municipalities for providing information as CSV!" %}</p>
  <div class="adoption">
    <img src="{% static "img/logos/ottawa.png" %}" width="119" height="50" alt="City of Ottawa" title="City of Ottawa" data-toggle="tooltip">
    <img src="{% static "img/logos/vancouver.png" %}" width="129" height="50" alt="City of Vancouver" title="City of Vancouver" data-toggle="tooltip">
    <img src="{% static "img/logos/guelph.png" %}" width="168" height="50" alt="City of Guelph" title="City of Guelph" data-toggle="tooltip">
    <img src="{% static "img/logos/oakville.png" %}" width="78" height="50" alt="Town of Oakville" title="Town of Oakville" data-toggle="tooltip">
    <img src="{% static "img/logos/welland.png" %}" width="43" height="50" alt="City of Welland" title="City of Welland" data-toggle="tooltip">
    <img src="{% static "img/logos/london.png" %}" width="41" height="50" alt="City of London" title="City of London" data-toggle="tooltip">
    <img src="{% static "img/logos/langley.png" %}" width="123" height="50" alt="City of Langley" title="City of Langley" data-toggle="tooltip">
    <img src="{% static "img/logos/surrey.png" %}" width="137" height="50" alt="City of Surrey" title="City of Surrey" data-toggle="tooltip">
    <img src="{% static "img/logos/strathcona-county.png" %}" width="278" height="50" alt="Strathcona County" title="Strathcona County" data-toggle="tooltip">
    <img src="{% static "img/logos/grande-prairie.png" %}" width="123" height="50" alt="City of Grande Prairie" title="City of Grande Prairie" data-toggle="tooltip">
    <img src="{% static "img/logos/kelowna.png" %}" width="68" height="50" alt="City of Kelowna" title="City of Kelowna" data-toggle="tooltip">
    <img src="{% static "img/logos/victoria.png" %}" width="117" height="50" alt="City of Victoria" title="City of Victoria" data-toggle="tooltip">
    <img src="{% static "img/logos/kitchener.png" %}" width="70" height="50" alt="City of Kitchener" title="City of Kitchener" data-toggle="tooltip">
    <img src="{% static "img/logos/windsor.png" %}" width="278" height="50" alt="City of Windsor" title="City of Windsor" data-toggle="tooltip">
    <img src="{% static "img/logos/peel.png" %}" width="171" height="50" alt="Region of Peel" title="Region of Peel" data-toggle="tooltip">
    <img src="{% static "img/logos/burlington.png" %}" width="196" height="50" alt="City of Burlington" title="City of Burlington" data-toggle="tooltip">
    <img src="{% static "img/logos/niagara.png" %}" width="290" height="40" alt="Niagara Region" title="Niagara Region" data-toggle="tooltip">
    <img src="{% static "img/logos/brampton.png" %}" width="151" height="50" alt="City of Brampton" title="City of Brampton" data-toggle="tooltip">
    <img src="{% static "img/logos/waterloo.png" %}" width="138" height="50" alt="City of Waterloo" title="City of Waterloo" data-toggle="tooltip">
    <img src="{% static "img/logos/toronto.png" %}" width="159" height="50" alt="City of Toronto" title="City of Toronto" data-toggle="tooltip">
    <img src="{% static "img/logos/greater-sudbury.png" %}" width="192" height="50" alt="City of Greater Sudbury" title="City of Greater Sudbury" data-toggle="tooltip">
    <img src="{% static "img/logos/kingston.png" %}" width="52" height="50" alt="City of Kingston" title="City of Kingston" data-toggle="tooltip">
    <img src="{% static "img/logos/waterloo-region.png" %}" width="59" height="50" alt="Region of Waterloo" title="Region of Waterloo" data-toggle="tooltip">
    <img src="{% static "img/logos/montreal.png" %}" width="233" height="50" alt="Ville de Montréal" title="Ville de Montréal" data-toggle="tooltip">
    <img src="{% static "img/logos/grimsby.png" %}" width="32" height="50" alt="Town of Grimsby" title="Town of Grimsby" data-toggle="tooltip">
    <img src="{% static "img/logos/lincoln.png" %}" width="173" height="50" alt="Town of Lincoln" title="Town of Lincoln" data-toggle="tooltip">
    <img src="{% static "img/logos/laval.png" %}" width="143" height="50" alt="Ville de Laval" title="Ville de Laval" data-toggle="tooltip">
    <img src="{% static "img/logos/st-catharines.png" %}" width="225" height="50" alt="City of St. Catharines" title="City of St. Catharines" data-toggle="tooltip">
    <img src="{% static "img/logos/grande-prairie-county-no-1.png" %}" width="60" height="50" alt="Grande Prairie County No. 1" title="Grande Prairie County No. 1" data-toggle="tooltip">
    <img src="{% static "img/logos/newmarket.png" %}" width="75" height="50" alt="Town of Newmarket" title="Town of Newmarket" data-toggle="tooltip">
    <img src="{% static "img/logos/saint-john.png" %}" width="59" height="50" alt="City of Saint John" title="City of Saint John" data-toggle="tooltip">
    <img src="{% static "img/logos/cambridge.png" %}" width="166" height="50" alt="City of Cambridge" title="City of Cambridge" data-toggle="tooltip">
    <img src="{% static "img/logos/moncton.png" %}" width="95" height="50" alt="City of Moncton" title="City of Moncton" data-toggle="tooltip">
    <img src="{% static "img/logos/saskatoon.png" %}" width="222" height="50" alt="City of Saskatoon" title="City of Saskatoon" data-toggle="tooltip">
    <img src="{% static "img/logos/new-westminster.png" %}" width="183" height="50" alt="City of New Westminster" title="City of New Westminster" data-toggle="tooltip">
  </div>
  <div class="support">
    <p>{% trans "This project was supported by a grant from the Canadian Internet Registration Authority." %}</p>
  </div>
  <div>
    <a class="btn btn-lg" role="button" href="/">{% trans "Learn more about Represent" %}</a>
  </div>
</div>
{% endblock %}
