{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Represent Elected Officials and Electoral Districts API for Canada" %}{% endblock %}

{% block content %}
<div class="jumbotron bg-primary" id="header">
  <div class="container-fluid">
    <h1>{% trans "Find the elected officials and electoral districts for any Canadian address or postal code, at all levels of government" %}</h1>
    <p>
      <a class="btn btn-lg" role="button" href="{% url "demo" %}">{% trans "Try the demo app" %}</a>
      <a class="btn btn-lg" role="button" href="{% url "apidoc" %}">{% trans "Use the free API" %}</a>
      <a class="btn btn-lg" role="button" href="{% url "data" %}">{% trans "Download the data" %}</a>
    </p>
  </div>
</div>

<div class="container-fluid" id="benefits">
  <div class="row">
    <div class="col-sm-6">
      <h1>{% trans "Connect your supporters with their political representatives." %}</h1>
      <p>{% trans "Represent matches a supporter's postal code or geocoded address to the correct elected officials. It makes it easy for you to build “email your representative” advocacy campaigns. During elections, we can connect your activists to political candidates." %}</p>
      <blockquote>
        <img src="{% static "img/karl-hardin.jpg" %}" width="32" height="32" alt="" class="img-circle">
        <p>
          “{% trans "I used your municipal data as part of a successful letter writing campaign from constituents to their elected municipal politicians, which resulted in the passage of the most definitive resolution ever opposing oil tanker traffic expansion on B.C.'s coast." %}”
          <cite>– Karl Hardin, Dogwood Initiative</cite>
        </p>
      </blockquote>
    </div>
    <div class="col-sm-6">
      <img src="{% static "img/lookup.jpg" %}" class="img-responsive img-rounded" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-push-6">
      <h1>{% trans "Provide relevant information based on your user's electoral district." %}</h1>
      <p>{% trans "Collect a user's postal code or address, and use Represent to match it to an electoral district. By identifying their riding, you can invite supporters to take local actions or show readers stories from their local election race." %}</p>
      <blockquote>
        <img src="{% static "img/phillip-smith.png" %}" width="32" height="32" alt="" class="img-circle">
        <p>
          “{% trans "For our BC Election Guide, we used a few endpoints of the Represent API: the representative lookup by riding, the BC provincial riding boundaries and their simplified geometry (a time-consuming task, if not available), and the riding lookup by latitude and longitude." %}”
          <cite>– Phillip Smith, The Tyee</cite>
        </p>
      </blockquote>
    </div>
    <div class="col-sm-6 col-sm-pull-6">
      <img src="{% static "img/tyee.jpg" %}" class="img-responsive img-rounded" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <h1>{% trans "Map your potential voters, donors and volunteers to electoral ridings." %}</h1>
      <p>{% trans "If your people database contains postal codes or addresses, use Represent to match people to their electoral districts. By mapping people geographically, you can better target canvassing, mobilize volunteers, and organize donation drives." %}</p>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-6">
          <img src="{% static "img/toronto.jpg" %}" class="img-responsive img-circle" alt="">
        </div>
        <div class="col-md-6 hidden-sm col-xs-6">
          <img src="{% static "img/montreal.jpg" %}" class="img-responsive img-circle" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="users">
    <div class="col-sm-12">
      <h1>{% trans "Used by nonprofits and unions across Canada." %}</h1>
      <div>
        <img src="{% static "img/logos/david-suzuki-foundation.png" %}" width="118" height="50" alt="{% trans "David Suzuki Foundation" %}" title="{% trans "David Suzuki Foundation" %}" data-toggle="tooltip">
        <img src="{% static "img/logos/sierra-club.png" %}" width="100" height="50" alt="Sierra Club Canada" title="Sierra Club Canada" data-toggle="tooltip">
        <img src="{% static "img/logos/council-of-canadians.png" %}" width="125" height="50" alt="{% trans "Council of Canadians" %}" title="{% trans "Council of Canadians" %}" data-toggle="tooltip">
        <img src="{% static "img/logos/tides-canada.png" %}" width="76" height="33" alt="Tides Canada" title="Tides Canada" data-toggle="tooltip">
        <img src="{% static "img/logos/greenpeace.png" %}" width="216" height="33" alt="Greenpeace" title="Greenpeace" data-toggle="tooltip">
        <img src="{% static "img/logos/leadnow.png" %}" width="150" height="50" alt="{% trans "Leadnow" %}" title="{% trans "Leadnow" %}" data-toggle="tooltip" class="hidden-xxs">
        <img src="{% static "img/logos/environmental-defence.png" %}" width="51" height="50" alt="Environmental Defence" title="Environmental Defence" data-toggle="tooltip" class="hidden-xxs">
        <img src="{% static "img/logos/west-coast-environmental-law.png" %}" width="46" height="50" alt="West Coast Environmental Law" title="West Coast Environmental Law" data-toggle="tooltip" class="hidden-xxs">

        <img src="{% static "img/logos/cupe.png" %}" width="125" height="33" alt="{% trans "Canadian Union of Public Employees" %}" title="{% trans "Canadian Union of Public Employees" %}" data-toggle="tooltip">
        <img src="{% static "img/logos/usw.png" %}" width="106" height="33" alt="United Steelworkers" title="United Steelworkers" data-toggle="tooltip">
        <img src="{% static "img/logos/nupge.png" %}" width="49" height="50" alt="National Union of Public and General Employees" title="National Union of Public and General Employees" data-toggle="tooltip">
        <img src="{% static "img/logos/psac.png" %}" width="98" height="50" alt="{% trans "Public Service Alliance of Canada" %}" title="{% trans "Public Service Alliance of Canada" %}" data-toggle="tooltip">
        <img src="{% static "img/logos/canadian-credit-union-association.png" %}" width="152" height="50" alt="{% trans "Canadian Credit Union Association" %}" title="{% trans "Canadian Credit Union Association" %}" data-toggle="tooltip">
        <img src="{% static "img/logos/aupe.png" %}" width="154" height="50" alt="Alberta Union of Provincial Employees" title="Alberta Union of Provincial Employees" data-toggle="tooltip" class="hidden-xxs">
        <img src="{% static "img/logos/seiu.png" %}" width="122" height="33" alt="Service Employees International Union" title="Service Employees International Union" data-toggle="tooltip" class="hidden-xxs">
        <img src="{% static "img/logos/cupw-sttp.png" %}" width="165" height="33" alt="{% trans "Canadian Union of Postal Workers" %}" title="{% trans "Canadian Union of Postal Workers" %}" data-toggle="tooltip" class="hidden-xxs">
        <!--img src="{% static "img/logos/rnao.png" %}" width="145" height="33" alt="Registered Nurses' Association of Ontario" title="Registered Nurses' Association of Ontario" data-toggle="tooltip" class="hidden-xxs"-->

        <img src="{% static "img/logos/imagine-canada.png" %}" width="142" height="50" alt="Imagine Canada" title="Imagine Canada" data-toggle="tooltip">
        <img src="{% static "img/logos/merit.png" %}" width="53" height="50" alt="Merit Contractors Association" title="Merit Contractors Association" data-toggle="tooltip">
        <img src="{% static "img/logos/oma.png" %}" width="125" height="50" alt="Ontario Medical Association" title="Ontario Medical Association" data-toggle="tooltip" class="hidden-xxs">
        <img src="{% static "img/logos/ocasi.png" %}" width="149" height="50" alt="Ontario Council of Agencies Serving Immigrants" title="Ontario Council of Agencies Serving Immigrants" data-toggle="tooltip" class="hidden-xxs">
        <img src="{% static "img/logos/fair-vote-canada.png" %}" width="51" height="50" alt="{% trans "Fair Vote Canada" %}" title="{% trans "Fair Vote Canada" %}" data-toggle="tooltip" class="hidden-xxs">
        <img src="{% static "img/logos/canadians-for-tax-fairness.png" %}" width="51" height="50" alt="{% trans "Canadians for Tax Fairness" %}" title="{% trans "Canadians for Tax Fairness" %}" data-toggle="tooltip" class="hidden-xxs">
        <img src="{% static "img/logos/democracy-watch.png" %}" width="43" height="50" alt="{% trans "Democracy Watch" %}" title="{% trans "Democracy Watch" %}" data-toggle="tooltip" class="hidden-xxs">
      </div>
    </div>
  </div>
</div>

<div class="jumbotron bg-primary" id="coverage">
  <div class="container-fluid">
    <h1>{% trans "The most comprehensive source in Canada for:" %}</h1>
    <div class="row">
      <div class="col-sm-6">
        <h2>{% trans "Elected officials" %}</h2>
        <ul>
          <li>{% trans "All Members of Parliament (MPs)" %}</li>
          <li>{% trans 'All <abbr data-toggle="tooltip" title="Members of Legislative Assembly">MLAs</abbr>, <abbr data-toggle="tooltip" title="Members of Provincial Parliament (Ontario)">MPPs</abbr>, <abbr data-toggle="tooltip" title="Members of National Assembly (Quebec)">MNAs</abbr>, and <abbr data-toggle="tooltip" title="Members of House of Assembly (Newfoundland and Labrador)">MHAs</abbr>' %}</li>
          <li>{% trans "Over 7,000 mayors and councillors" %}</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h2>{% trans "Electoral districts" %}</h2>
        <ul>
          <li>{% trans "All federal electoral districts" %}</li>
          <li>{% trans "All provincial electoral districts" %}</li>
          <li>{% trans "Over 8,000 municipal wards" %}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="features">
  <div class="row">
    <div class="col-sm-4">
      <div class="img-group">
        <img src="{% static "img/drupal.png" %}" width="44" height="50" alt="Drupal" title="Drupal" data-toggle="tooltip">
        <img src="{% static "img/wordpress.png" %}" width="50" height="50" alt="WordPress" title="WordPress" data-toggle="tooltip">
        <img src="{% static "img/civicrm.png" %}" width="48" height="50" alt="CiviCRM" title="CiviCRM" data-toggle="tooltip" class="hidden-sm">
      </div>
      <p>{% trans 'Easily integrate Represent into your CMS, using our <a href="https://drupal.org/project/represent">Drupal</a> and <a href="https://wordpress.org/plugins/represent-api/">WordPress</a> plugins' %}</p>
    </div>
    <div class="col-sm-4">
      <div class="img-group">
        <img src="{% static "img/ruby.png" %}" width="50" height="50" alt="Ruby" title="Ruby" data-toggle="tooltip">
        <img src="{% static "img/python.png" %}" width="50" height="50" alt="Python" title="Python" data-toggle="tooltip">
        <img src="{% static "img/php.png" %}" width="100" height="50" alt="PHP" title="PHP" data-toggle="tooltip">
        <img src="{% static "img/nodejs.png" %}" width="45" height="50" alt="Node.js" title="Node.js" data-toggle="tooltip" class="hidden-sm">
      </div>
      <p>{% trans 'Use the <a href="https://github.com/opennorth/govkit-ca#readme">Ruby</a>, <a href="https://github.com/ncadou/pyrepresent#readme">Python</a>, <a href="https://github.com/Seanmcn/php-represent#readme">PHP</a> or <a href="https://github.com/sprice/represent#readme">Node.js</a> API clients to quickly develop new apps' %}</p>
    </div>
    <div class="col-sm-4">
      <div class="img-group">
        <a href="https://github.com/opennorth/represent-canada"><img src="{% static "img/github.png" %}" width="50" height="50" alt=""></a>
      </div>
      <p>{% trans 'Represent is <a href="https://github.com/opennorth/represent-canada">open source</a> and makes its <a href="https://github.com/opennorth/represent-canada-data">source data</a> available where possible' %}</p>
    </div>
  </div>
</div>

<div class="container-fluid" id="getting-started">
  <a class="btn btn-lg" role="button" href="{% url "apidoc" %}">{% trans "Read the API reference" %}</a>
  <span class="hidden-xxs"><a class="btn btn-lg" role="button" href="{% url "demo" %}">{% trans "Try the “Find Your Reps” app" %}</a></span>
  <span class="visible-xxs"><a class="btn btn-lg" role="button" href="{% url "demo" %}">{% trans "Try the demo app" %}</a></span>
  <a class="btn btn-lg" role="button" href="mailto:represent@opennorth.ca">{% trans "Contact us" %}</a>
</div>

{% url "government" as government_url %}
<div class="container-fluid banner banner-default" id="newsletter">
  <p id="government"><strong>{% trans "Government Officials and Open Data Managers:" %}</strong> {% blocktrans %}Find out how to <a href="{{ government_url }}">add your elected officials to Represent</a>.{% endblocktrans %}</p>
  <p id="usage">{% blocktrans %}We are excited to see how Represent is being used. <a href="mailto:represent@opennorth.ca">Contact us</a> and show us what you've made!{% endblocktrans %}</p>
</div>
{% endblock %}
