{% extends 'base.html' %}

{% load compress %}

{% block title %}{{ EXAMPLE_SCOPE }} Boundaries{% endblock %}

{% block head %}
{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/less.css" type="text/css" charset="utf-8"/>
<link rel="stylesheet" href="{{ STATIC_URL }}css/demo.css" type="text/css" charset="utf-8"/>
<link rel="stylesheet" href="{{ STATIC_URL }}leaflet/leaflet.css" type="text/css" charset="utf-8"/>
{% endcompress %}
{% endblock %}

{% block content %}
<div id="outside">Outside {{ EXAMPLE_SCOPE }}? <a href="javascript:void(0)" id="use-default-location">Jump to {{ EXAMPLE_PLACE }}</a> or drag the pin on the map!</div>
<div id="wrap">
    <div id="page-links">
        <a href="javascript:switch_page('demo')">Demo</a>&nbsp;&nbsp;
        <a href="javascript:switch_page('api')">API</a>&nbsp;&nbsp;
        <a href="javascript:switch_page('src')">Source</a>&nbsp;&nbsp;
        <a href="javascript:switch_page('about')">About</a>&nbsp;&nbsp;
    </div>

    <h1 id="page-title">{{ EXAMPLE_SCOPE }} Boundaries</h1>

    <div id="demo-page" class="page-content">
        {% include '_demo.html' %}
    </div>

    <div id="api-page" class="page-content">
        {% include '_api.html' %} 
    </div>

    <div id="src-page" class="page-content">
        {% include '_src.html' %} 
    </div>

    <div id="about-page" class="page-content">
        {% include '_about.html' %}  
    </div>
</div>
{% endblock %}
{% block foot %}
<script src="//maps.google.com/maps/api/js?sensor=true"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>

{% compress js %}
<script src="{{ STATIC_URL }}leaflet/leaflet.js"></script>
<script src="{{ STATIC_URL }}js/store.js"></script>
<script src="{{ STATIC_URL }}js/json.js"></script>
<script src="{{ STATIC_URL }}js/finder.js"></script>
{% endcompress %}
{% endblock %}
