{% extends 'base.html' %}

{% block title %}Privacy Policy | Represent Elected Officials and Electoral Districts API for Canada{% endblock %}

{% block content %}
<div class="jumbotron bg-primary" id="header">
  <div class="container-fluid">
    <h1 class="solo">Privacy Policy</h1>
  </div>
</div>

<div class="container-fluid" id="privacy">
  <p>May 12, 2012</p>

  <p>We care about your privacy. If you have any questions about this policy, feel free to <a href="mailto:represent@opennorth.ca">contact us</a>.</p>

  <h2>Information we collect</h2>

  <ul>
    <li><strong>Log information</strong> - When you use this website, our servers automatically record information that your browser sends whenever you visit a website. These server logs may include information such as your web request, IP address, browser type, browser language, and the date and time of your request. We use server logs to track usage trends and to protect our services.</li>
    <li><strong>User communications</strong> - When you send email or other communication to us, we may retain those communications in order to process your enquiries, respond to your requests, and improve our services.</li>
  </ul>

  <h2>Information security</h2>

  <p>We do not share or sell any information that may potentially identify individuals, such as IP addresses.</p>

  <h2>Changes to this policy</h2>

  <p>Please note that this privacy policy may change from time to time. We will post any policy changes on this page.</p>
</div>
{% endblock %}
